*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #FFCF56;
}
.header li{
    display: flex;
}
.navbar{
    background-color: #FFCF56;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: end;
}
.logo{
    height: 100px;
    width: 100px;
    position: relative;
    right: 832px;
}
.navbar navbar-expand-lg{
    background-color: #FFCF56;
}
h1{
    font-size: x-large;
    text-align: center;
    
}
.carousel {
    position: relative;
    width: 734px;
    height: 534px;
    left: 300px;
}
body{
    background-color: #AAAE7F;
}
.lista{
    text-align: center;
    list-style: none;
    background-color:#A0E8AF ;
    position: relative;
    bottom: -17px;
}
footer{
    background-color: #3AB795;
    position: relative;
    top: 17px;
    text-align: center;

}
.imag1{
    
    height: 400px;
    width: 400px;
}
.GridContainer{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    position: relative;
    justify-content: center;
    text-align: center;
}

table{
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
td{
border-color: inherit;
border-style: solid;
border-width: 2px;
}
.imag2{
    width: 250px;
}
.row{
    display: flex;
    margin: 0px;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
}
.t1{
    text-align: center;
}
iframe{
    position: relative;
    top: 2px;
    left: 383px;
    border-radius: 8px;

}
.contenedorgrid{
    display: block;
}
.formHeader{
    background-color:#A0E8AF;
}
.formLabel{
    background-color: #FFCF56;
    position: relative;
    text-align: center;
}
.formInput{
    background-color:aliceblue ;
}
.a{
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
.btnSubmit{
    position: relative;
    left: 614px;
}





@media(max-width:600px){
    .GridContainer{
        grid-template-columns: 50%;
        left: -35px;

    } 
   
}
@media(max-width:480px){
    .header{
        width: 50px;

    }
    .h1{
        width: 100px;
    }
    .GridContainer{
        grid-template-columns: 40%;
        position: relative;
        left: -104px;    
    }
    h2{
        position: relative;
        left: 92px;
    }
    table{
        width: 460px;
    }
}
@media(max-width:360px){
    .header{
        width: 70px;

    }
    .imag1{    
        height: 300px;
        width: 300px;
    }

    }
    .h1{
        width: 100px;
    }
    .GridContainer{
        grid-template-columns: 40%;
        position: relative;
        left: -86px;    
    }
    h2{
        position: relative;
            left: 92px;
    }
    table{
        width: 360px;
    }


